include /function/icon

doctype html
html.no-js(id='📎', lang='en', prefix='og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#')
	head
		meta(charset='utf-8')
		title=content.website.title

		meta(name='description', content=content.website.description.replace('\n', ' '))
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel='canonical', href=content.self.address)
		link(rel='manifest', href='/manifest.webmanifest')

		include /partial/meta/opengraph
		include /partial/meta/twitter
		include /partial/meta/facebook
		include /partial/meta/geo

		link(rel='preload', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700%7cRoboto+Slab:300,400', as='style')

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700%7cRoboto+Slab:300,400')
		link(rel='stylesheet', href='/static/style/main.css', data-inline)

		script(src='/static/script/main.js', defer)

	body.page
		div.page__stage
			main.panel(role='main')
				section.panel__content
					header.section
						h1=content.self.name.first + ' ' + content.self.name.last
						p
							b Web-Developer from Salzburg, Austria,
							wbr
							| pushing the web's boundaries at &#32;
							a(href=content.employer.address, rel='noopener')=content.employer.name
							| .

					section.section
						h2.section__title Side Projects

						div.section__content
							each project in content.projects
								article.project
									h3.project__title
										a(href=project.address, rel='noopener')=project.name
									p.project__description=project.description

					section.section
						h2.section__title Contact

						div.section__content
							each channel in content.channels
								p
									a.contact(href=channel.address, rel='noopener')
										+icon(channel.icon)
										| #{channel.label}

			div.profile(itemscope='itemscope', itemtype='http://schema.org/Person')
				figure.profile__figure
					a.profile__link(href='#📎')
						img.profile__photo(itemprop='image', src=content.self.avatar + '?s=256', srcset=content.self.avatar + '?s=256 1x,' + content.self.avatar + '?s=512 2x', width=256, height=256, alt='Photo of ' + content.self.name.first + ' ' + content.self.name.last)
					a.profile__employer(href=content.employer.address, rel='noopener')
						img(src=content.employer.avatar + '?s=256', srcset=content.employer.avatar + '?s=256 1x,' + content.employer.avatar + '?s=512 2x', width=256, height=256, alt='Logo of ' + content.employer.name)

				p.profile__quote
					+icon('code')
					span !{content.website.description.replace('\n', '<br>')}

			aside.bar
				p.bar__social
					each channel in content.channels
						if channel.primary
							a.network(class='network--' + channel.type, href=channel.address, title=channel.title, rel='me noopener')
								+icon(channel.icon)

				a.bar__button.bar__button--on(href='#📎', title='more information')
					+icon('circle-o')

				a.bar__button.bar__button--off(href='#', title='less information')
					+icon('dot-circle-o')

			noscript
				iframe(src='https://www.googletagmanager.com/ns.html?id=' + content.website.tracking.key, style='display:none;')

			script.
				(function(w,d,s,l,i){
					w[l]=w[l]||[];
					w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
					var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
					j.crossorigin='anonymous';j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','#{content.website.tracking.key}');
