doctype html
html.no-js(lang='en', prefix='og:http://ogp.me/ns# profile:http://ogp.me/ns/profile#')
	head
		meta(charset='utf-8')
		title=content.website.title

		meta(name='description', content=content.website.description)
		meta(name='viewport', content='width=device-width, initial-scale=1')

		meta(property='og:title', content=content.website.title)
		meta(property='og:description', content=content.website.description)
		meta(property='og:url', content=content.self.address)
		meta(property='og:image', content=content.self.avatar)
		meta(property='og:type', content='profile')
		meta(property='profile:first_name', content=content.self.name.first)
		meta(property='profile:last_name', content=content.self.name.last)
		meta(property='profile:username', content='Thasmo')
		meta(property='profile:gender', content='male')

		meta(name='twitter:title', content=content.website.title)
		meta(name='twitter:description', content=content.website.description)
		meta(name='twitter:url', content=content.self.address)
		meta(name='twitter:image', content=content.self.avatar)
		meta(name='twitter:card', content='summary')
		meta(name='twitter:site', content='@thomasdeinhamer')

		meta(name='geo.position', content='47.8;13.033333')
		meta(name='geo.placename', content='Salzburg, Austria')
		meta(name='geo.region', content='AT')

		meta(property='fb:admins', content='1351449068')

		link(rel='canonical', href=content.self.address)

		link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700')
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='/static/style/main.css')

		<!--[if lt IE 9]>
		script(src='//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js')
		<![endif]-->

	body.page
		article.profile(itemscope='itemscope', itemtype='http://schema.org/Person')
			section.profile-figure
				img.profile-photo(itemprop='image', src=content.self.avatar, alt='Photo of ' + content.self.name.first + ' ' + content.self.name.last)
				a.profile-employer(href=content.employer.address)
					img(src=content.employer.avatar, alt='Logo of ' + content.employer.name)

			p.profile-quote
				| Curious all day,
				br
				| awake at night.

		p.bar
			each network in content.network
				a.network(class='network--' + network.name, href=network.address, rel='me')
					i.fa(class='fa-' + network.name)

		noscript
			iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PT4NQB', style='display:none;')

		script.
			(function(w,d,s,l,i){
				w[l]=w[l]||[];
				w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
				var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
				j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-PT4NQB');
