meta(property='og:title', content=content.website.title)
meta(property='og:description', content=content.website.description)
meta(property='og:url', content=content.self.address)
meta(property='og:image', content='https:' + content.self.avatar + '?s=512')
meta(property='og:type', content='profile')
meta(property='fb:app_id', content='151299378222551')
meta(property='profile:first_name', content=content.self.name.first)
meta(property='profile:last_name', content=content.self.name.last)
meta(property='profile:username', content=content.self.username)
